.grid-time-matching {
    margin: 5vh auto;
}

.time-table-editor-day {
    width: 100px;
    height: 25px;
    font-size: 10px;
    text-transform: uppercase;
    color: #757575;
    padding-left: 5px;
    box-sizing: border-box;
}

.timetable-editor-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; 
}

.timetable-editor-grid-item {
    color: #757575;
    background-color: #f1f1f1;
    height: 25px;
    box-sizing: border-box;
    font-size: 8px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-editor-grid-item:not(.active):hover {
    background-color: #cfd6f7;
}

.timetable-editor-grid-item.active {
    background-color: #334bfa;
    border: 0;
    color: #fff;
}

.timetable-editor-grid-hour-axis-item {
    height: 25px;
    font-size: 8px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .timetable-editor-grid-hour-axis-item {
        width: 40px; 
        font-size: 5px; 
    }

    .time-table-editor-day {
        width: 40px; 
    }

    .timetable-editor-grid-item {
        width: 40px; 
        font-size: 6px;
    }
}
